#Sign
  %header.SignUpHead
    .SignUpHead__logo
      = link_to image_tag("logo.png", alt: "FURIMA"), root_path
  %main.SignUpBox
    .SignUpBlock
      %section
        %h2.head02
          会員情報入力
        .Form
          = form_for(@user, url: user_registration_path) do |f|
            .Form__field
              %p.Form__field__title
                ニックネーム
                %span.required
                  必須
              .Form__field__nickname
                = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例）フリマ太郎"
              .Form__field__error
                = resource.errors.full_messages_for(:nickname)[0]
            .Form__field
              %p.Form__field__title
                メールアドレス
                %span.required
                  必須
              .Form__field__email
                = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
              .Form__field__error
                = resource.errors.full_messages_for(:email)[0]
            .Form__field
              %p.Form__field__title
                パスワード
                %span.required
                  必須
              .Form__field__password.toggle
                = f.password_field :password, autocomplete: "password", placeholder: "7文字以上の半角英数字の組み合わせ", id:'password'
                .checkbox-field
                  %input#js-passcheck.checkbox.js-password-toggle{type: "checkbox"}
                  %label.btn-label.js-password-label{for: "js-passcheck"}
                    %i.fas.fa-eye-slash{style: "font-size:20px;color:#808080"}
              .Form__field__password.toggle
                = f.password_field :password_confirmation, autocomplete: "password", placeholder: "もう1度入力して下さい", id:'password2'
                .checkbox-field
                  %input#js-passcheck2.checkbox.js-password-toggle{type: "checkbox"}
                  %label.btn-label.js-password-label2{for: "js-passcheck2"}
                    %i.fas.fa-eye-slash{style: "font-size:20px;color:#808080"}
              .Form__field__error
                = resource.errors.full_messages_for(:password)[0]
            .Form__identification
              %p.Form__identification__title
                本人確認
              %p.Form__identification__text
                安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .Form__field
              %p.Form__field__title
                お名前(全角)
                %span.required
                  必須
              .Form__field__name
                = f.text_field :family_name, autofocus: true, autocomplete: "family_name", placeholder: "例）山田"
                = f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "例）彩"
              .Form__field__error
                = resource.errors.full_messages_for(:family_name)[0]
                %br/
                = resource.errors.full_messages_for(:first_name)[0]
            .Form__field
              %p.Form__field__title
                お名前カナ(全角)
                %span.required
                  必須
              .Form__field__name
                = f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana", placeholder: "例）ヤマダ"
                = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "例）アヤ"
              .Form__field__error
                = resource.errors.full_messages_for(:family_name_kana)[0]
                %br/
                = resource.errors.full_messages_for(:first_name_kana)[0]
            .Form__field
              %p.Form__field__title
                生年月日
                %span.required
                  必須
              .Form__field__date
                = raw sprintf(f.date_select(:birthday,use_month_numbers: true,prompt:'--',start_year: (Time.now.year - 5),end_year: 1930,date_separator: '%s'), "年", "月") + "日"
              .Form__field__error
                = resource.errors.full_messages_for(:birthday)[0]
              %p.attention
                ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            .Form__actions
              = f.submit "次へ"
  %footer.SignUpFoot
    .SignUpFoot__area
      %ul.SignUpFoot__text
        %li
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          特定商取引に関する表記
      .SignUpFoot__logo
        = link_to image_tag("logo.png", alt: "FURIMA"), root_path
      .SignUpFoot__copyright
        &copy;FURIMA, Inc