.wrapper
  .header
    .headerLogo
      -# = link_to image_tag("logo/logo.png", class: "logo"), action: "index"

  .main
    .mainText
      .mainText__lists
        .mainText__lists--1
          .textBox1
            購入内容の確認
        .mainText__lists--2
          .textBox2
            .itemImage
              = image_tag @item.item_imgs.first.url.url
              -if @item.status == "sold" 
                .sold
                  .sold__inner SOLD
            .itemInfo
              %p.itemName
                = "#{@item.name}"
              %p.itemPrice
                = "#{@item.price}" + "円"
        .mainText__lists--3
          .textBox3
            .payment
              .paymentText
                支払い金額
              .paymentAmount
                = "#{@item.price}" + "円"
            .usePoints
              ポイントの利用はありません
        .mainText__lists--4
          .textBox4
            %h3.paymentMethod
              支払い方法
            .credit_card_info
              -if @add_cards == nil
                = link_to "登録してください", new_credit_card_path, method: :get
              -else
                .credit_card_info__brand
                  = image_tag "cards/#{@card_src}", class: "credit_card_info__brand__img", alt: @card_brand
                .credit_card_info__numbers
                  .number
                    = "**** **** **** " + @customer_card.last4
                  .expiration_date
                    .expiration_date__title
                      有効期限
                    .expiration_date__info
                      = @exp_month + " / " + @exp_year
        .mainText__lists--6
          .textBox6
            .precautions
              郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
            .headsUp
              配送先と支払い方法の入力を完了してください。
            .purchaseButton
              -if @item.status == "sold" 
                %p.soldBtn 売り切れました
              - else
                = link_to "購入する", pay_credit_card_path(@item), method: :post, id: "button"
          
  .footer
    .footerText
      %ul.footerText__lists
        %li
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          特定商取引に関する表記
    .footerLogo
      = link_to image_tag("logo/logo.png", class: "logo"), action: "index"
    .footerCompany
      ©︎FURIMA, Inc