%header.purchaseHead
  .purchaseHead__logo
    = link_to image_tag("logo.png", alt: "FURIMA"), root_path
.Mypage
  .main
    .main__user
      = image_tag "http://momo.gmobb.jp/hikari.kobayashi1212/face.png"

    .main__userstatus
      .main__evaluation
        評価 0
      .main__xhibition
        出品数 0
  .sub
    .sub__newsl
      .sub__newsl__newss
        %bお知らせ
    .sub__actionlistl
      .sub__actionlistl__actionlist
        %bやることリスト

  .sub2
    .sub2__item
      %b購入した商品
    .sub2__transactions
      .sub2__transactions__transactionnow
        .sub2__transactions__transactionnow__name
          %b取引中
      .sub2__transactions__transactionpast
        .sub2__transactions__transactionpast__name
          %b過去の取引
        
  .details
    .details__exhibition.border
      = link_to "出品する", new_item_path
    .details__payment.border
      = link_to "クレジットカード登録", new_credit_card_path
    .details__exhibitionnow.border
      = link_to "出品した商品-出品中", "#"
    .details__sale.border
      = link_to "出品した商品-売却済み", "#"
    .details__purchase.border
      = link_to "購入した商品-取引中", "#"
    .details__purchasepast.border
      = link_to "購入した商品-過去の取引", "#"
    .details__shippingaddress.border
      = link_to "発送元・お届け先住所変更", "#"
    .details__mailpass.border
      = link_to "メール/パスワード", "#"
    .details__information.border
      = link_to "本人情報", "#"
    .details__tell.border
      = link_to "電話番号の確認", "#"