= render "./layouts/header"
%main#Main
  .MainVisual
    .MainVisual__contents
      .MainVisual__text
        %section
          %h2
            人生を変えるフリマアプリ
          %p.MainVisual__subtext
            FURIMAはだれでもかんたんに出品・購入できる
            %br
            フリマアプリです
          .AppBtn
            = link_to image_tag("app-store.svg", alt: "App Store"), "#", class: "AppBtn__apple"
            = link_to image_tag("google-play.svg", alt: "Google Play"), "#", class: "AppBtn__google"
  .MainReason
    .Contents
      %section
        %h2
          FURIMAが選ばれる3つの理由
        .Column
          .Column__col
            %p.One
              1
            %figure
              = image_tag 'pict-reason-01.jpg'
            .Detail
              %p.Detail__title
                %span.Detail__title--strong 3分
                ですぐに出品
              %p.Detail__text
                スマホで入力するだけで簡単に出品できる！
          .Column__col
            %p.Two
              2
            %figure
              = image_tag 'pict-reason-02.jpg'
            .Detail
              %p.Detail__title
                %span.Detail__title--strong シンプル
                で使いやすい
              %p.Detail__text
                めんどくさい入力は必要なく、検索も購入もスムーズ！
          .Column__col
            %p.Three
              3
            %figure
              = image_tag 'pict-reason-03.jpg'
            .Detail
              %p.Detail__title
                手数料
                %span.Detail__title--strong 業界最安
              %p.Detail__text.last
                最大3%でお得に出品&購入！
  .MainMiddle
    .MainMiddle__contents
      .MainMiddle__text
        %section
          %h2
            会員数日本一位
          %p.MainMiddle__subtext
            FURIMAは、フリマアプリで最も人気。
            %br
            出品・購入回数も業界最多です！
            %br
            ほしかったあの商品に出会えるかもしれません。
          .AppBtn
            = link_to image_tag("app-store.svg", alt: "App Store"), "#", class: "AppBtn__apple"
            = link_to image_tag("google-play.svg", alt: "Google Play"), "#", class: "AppBtn__google"
  .MainFeature
    .Contents
      %section
        %h2
          FURIMAの特徴
        .Column
          .Column__col
            %figure
              = image_tag 'icon-01.png'
            .Detail
              %p.Detail__title
                簡単に売り買いできる
              %p.Detail__text
                スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
          .Column__col
            %figure
              = image_tag 'icon-02.png'
            .Detail
              %p.Detail__title
                売上金は即日振込みに対応
              %p.Detail__text
                午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
          .Column__col
            %figure
              = image_tag 'icon-03.png'
            .Detail
              %p.Detail__title
                様々な支払いに対応
              %p.Detail__text
                お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .MainPickup
    .MainPickup__box
      %section
        %h2
          ピックアップカテゴリー
        %secion
          %h3
            = link_to "新規投稿商品", "#"
          .Product
            .Product__list
              = link_to '#' do
                %figure
                  = image_tag 'product1.jpg'
                .DetailBody
                  .DetailBody__title
                    product1
                  %ul
                    %li
                      1000円
                    %li
                      ★0
                  %p.TaxIncluded
                    (税込)
            .Product__list
              = link_to '#' do
                %figure
                  = image_tag 'product2.png'
                .DetailBody
                  .DetailBody__title
                    product1
                  %ul
                    %li
                      1000円
                    %li
                      ★0
                  %p.TaxIncluded
                    (税込)
            .Product__list
              = link_to '#' do
                %figure
                  = image_tag 'product3.png'
                .DetailBody
                  .DetailBody__title
                    product1
                  %ul
                    %li
                      1000円
                    %li
                      ★0
                  %p.TaxIncluded
                    (税込)
            .Product__list
              = link_to '#' do
                %figure
                  = image_tag 'product4.png'
                .DetailBody
                  .DetailBody__title
                    product1
                  %ul
                    %li
                      1000円
                    %li
                      ★0
                  %p.TaxIncluded
                    (税込)
    .MainPickup__box
      %section
        %h2
          ピックアップブランド
        %secion
          %h3
            = link_to "アーカイバ", "#"
          .Product
            .Product__list
              = link_to '#' do
                %figure
                  = image_tag 'product1.jpg'
                .DetailBody
                  .DetailBody__title
                    product1
                  %ul
                    %li
                      1000円
                    %li
                      ★0
                  %p.TaxIncluded
                    (税込)
            .Product__list
              = link_to '#' do
                %figure
                  = image_tag 'product2.png'
                .DetailBody
                  .DetailBody__title
                    product2
                  %ul
                    %li
                      3000円
                    %li
                      ★0
                  %p.TaxIncluded
                    (税込)
            .Product__list
              = link_to '#' do
                %figure
                  = image_tag 'product3.png'
                .DetailBody
                  .DetailBody__title
                    product3
                  %ul
                    %li
                      20000円
                    %li
                      ★0
                  %p.TaxIncluded
                    (税込)
            .Product__list
              = link_to '#' do
                %figure
                  = image_tag 'product4.png'
                .DetailBody
                  .DetailBody__title
                    product4
                  %ul
                    %li
                      10000円
                    %li
                      ★0
                  %p.TaxIncluded
                    (税込)
= render "./layouts/footer"