<%# <div class="contents row">
  <% @items.each do |item| %>
    <%# <div class="content_post" style="background-image: url(<%= item.image);">
      <div class="more">
        <%# <span><%= image_tag 'arrow_top.png' %>
        <%# <ul class="more_list">
          <li>
            <%= link_to '削除', "/items/#{item.id}", method: :delete %>
          <%# </li> %>
        <%# </ul>
      </div> %>
      <%# <p><%= item.text %>
      <%# <span class="name">
        <%= item.name %>
      <%# </span>
    </div>
  <% end %>
<%# </div> %>