.Sell
  .Sell__page
    .Sell__page__header
      .Sell__page__header__logo
        = image_tag "logo.png"        
    
    = form_with model: @item, class: "Sell__page__body", local: true do |f|
      .Sell__page__body__img
        .Sell__page__body__img__label
          出品画像 
          %span.required
            必須
        .Sell__page__body__img__comment
          最大3枚までアップロードできます。
        #image-box
          = f.fields_for :item_imgs do |image|
            .Sell__page__body__img__form{data: {index: image.index}}
              = image.file_field :url, class: "Sell__page__body__img__form__body"
              %span.Sell__page__body__img__form__remove 削除
      .Sell__page__body__info
        .Sell__page__body__info__name
          商品名 
          %span.required
            必須
        = f.text_field :name, class: "Sell__page__body__info__name__form", placeholder: "40文字まで"
        .Sell__page__body__info__explain
          商品の説明
          %span.required
            必須
        = f.text_area :introduction, class: "Sell__page__body__info__explain__form", placeholder: "商品の説明（必須1,000文字以内   （色、素材、重さ、定価、注意点など）例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"
        .Sell__page__body__details
          商品の詳細
          .Sell__page__body__details__category
            カテゴリー
          .sell-collection_select
            = f.label :category_id, {class: 'sell-collection_select__label'} do
              = f.collection_select :category_id, @category_parent, :id, :name, {prompt: "選択して下さい"},{ class: 'form', id: 'category-select-parent', required: "required"}
              %i.fas.fa-chevron-down
          .error-messages#error-category
          .Sell__page__body__details__bland
          -#   ブランド
          -# = f.text_field :bland, class: "form", placeholder:"例）シャネル"
          .Sell__page__body__details__status
            商品の状態
          = f.collection_select :item_condition_id, ItemCondition.all, :id, :name, {}, {class: "form", placeholder:"選択してください"}
        .Sell__page__body__delivary
          .Sell__page__body__delivary__top
            配送について
          .Sell__page__body__delivary__burden
            配送料の負担
          = f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, {}, {class: "form", placeholder:"選択してください"}
          .Sell__page__body__delivary__area
            発送元の地域
          = f.collection_select :prefecture_code_id, PrefectureCode.all, :id, :name, {}, {class: "form", placeholder:"選択してください"}
          .Sell__page__body__delivary__days
            発送までの日数
          = f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, {}, {class: "form", placeholder:"選択してください"}
        .Sell__page__body__prices
          .Sell__page__body__prices__1
            価格(¥300~9,999,999)
            .Sell__page__body__prices__1__sale
              .Sell__page__body__prices__1__sale__place
                販売価格
                %span.required
                  必須
              .Sell__page__body__prices__1__fee
                販売手数料(10%)
              .Sell__page__body__prices__1__fee__profit
                販売利益
          .Sell__page__body__prices__yen
            ¥
            = f.number_field :price, class: "Sell__page__body__prices__yen__form", placeholder: "                                 0"
        .Sell__page__body__last
          .Sell__page__body__last__send
            = f.submit "出品する", id: "button"
          -# .Sell__page__body__last__draft
          -#   = submit_tag "下書きに保存", id: "button"
          .Sell__page__body__last__return
            = link_to  "もどる", "#"
          .Sell__page__body__last__note
            禁止されている行為及び出品物を必ずご確認ください。
            偽ブランド品や盗品物などの販売は犯罪であり、
            法律により処罰される可能性があります。
            また、出品をもちまして加盟店規約に同意したことになります。
    .Sell__page__footer
      .Sell__page__footer__item
        .Sell__page__footer__item__policy
          プライバシーポリシー
        .Sell__page__footer__item__tarms
          フリマ利用規約
        .Sell__page__footer__item__notation
          特定商取引に関する表記
      .Sell__page__footer__logo
        = image_tag "logo-white.png"
      .Sell__page__footer__marc
        ©︎ FURIMA, Inc.


