.Sell
  .Sell__page
    .Sell__page__header
      .Sell__page__header__logo
        = image_tag "logo.png"        
    = form_with(model: @item, class: "Sell__page__body", local: true) do |f|
      .Sell__page__body__img
        .Sell__page__body__img__label
          出品画像 
          %span 必須
        .Sell__page__body__img__comment
          最大10枚までアップロードできます。
        -# = f.file_field :image, class: "Sell__page__body__img__form"  

        -# = link_to '出品', new_products_path

        -# = render 'test.form'
        -# .contents
        -#   = render @items

      .Sell__page__body__info
        .Sell__page__body__info__name
          商品名 
          %span 必須
          = f.text_field :name, class: "Sell__page__body__info__name__form", placeholder: "40文字まで"
        .Sell__page__body__info__explain
          商品の説明
          %span 必須
          -# = f.text_area :explain, class: "Sell__page__body__info__explain__form", placeholder: "商品の説明（必須1,000文字以内   （色、素材、重さ、定価、注意点など）例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"
        .Sell__page__body__details
          商品の詳細
          .Sell__page__body__details__category
            カテゴリー
          -# = f.text_field :category, class: "form", placeholder: "選択してください"
          .Sell__page__body__details__bland
            ブランド
          -# = f.text_field :bland, class: "form", placeholder:"例）シャネル"
          .Sell__page__body__details__status
            商品の状態
          -# = f.text_field :status, class: "form", placeholder:"選択してください"
        .Sell__page__body__delivary
          .Sell__page__body__delivary__top
            配送について
          .Sell__page__body__delivary__burden
            配送料の負担
          -# = f.text_field :burden, class: "form", placeholder:"選択してください"
          .Sell__page__body__delivary__area
            発送元の地域
          -# = f.text_field :label, class: "form", placeholder:"選択してください"
          .Sell__page__body__delivary__days
            発送までの日数
          -# = f.text_field :label, class: "form", placeholder:"選択してください"
        .Sell__page__body__prices
          .Sell__page__body__prices__1
            価格(¥300~9,999,999)
            .Sell__page__body__prices__1__sale
              .Sell__page__body__prices__1__sale__place
                販売価格
                %span 必須
              .Sell__page__body__prices__1__fee
                販売手数料(10%)
              .Sell__page__body__prices__1__fee__profit
                販売利益
          .Sell__page__body__prices__yen
            ¥
            -# = f.text_field :text, class: "Sell__page__body__prices__yen__form", placeholder: "0"
        .Sell__page__body__last
          .Sell__page__body__last__send
            = f.submit "出品する", id: "button"
          .Sell__page__body__last__draft
            = f.submit "下書きに保存", id: "button"
          .Sell__page__body__last__return
            = link_to  "もどる", "#"
          .Sell__page__body__last__note
            禁止されている行為及び出品物を必ずご確認ください。
            偽ブランド品や盗品物などの販売は犯罪であり、
            法律により処罰される可能性があります。
            また、出品をもちまして加盟店規約に同意したことになります。
    .Sell__page__footer
      .Sell__page__footer__item
        .Sell__page__footer__item__policy
          プライバシーポリシー
        .Sell__page__footer__item__tarms
          フリマ利用規約
        .Sell__page__footer__item__notation
          特定商取引に関する表記
      .Sell__page__footer__logo
        = image_tag "logo-white.png"
      .Sell__page__footer__marc
        ©︎ FURIMA, Inc.


