= render "./layouts/header"

.Items
  .Item
    %h1.Item__name
      = @item.name
    .Item__content
      = image_tag @item.item_imgs.first.url.url, class: "Item__content--photo", alt: "画像"
    .Item__select
      - @item.item_imgs.each do |img|
        = image_tag img.url.url, class: "Item__select--photo", alt: "画像"
    .Item__price
      %span.Item__price--body
        ¥
        = @item.price
      .Item__price--taxes
      %span.Item__price--taxes--tax
        （税込）
      %span.Item__price--taxes--post
        送料込み
    .Item__introduce
      .Item__introduce--innner
        = @item.introduction
    %table.Item__table
      %tr
        %th.Item__table--th
          出品者
        %td.Item__table--td
          = @item.seller.nickname
      %tr
        %th.Item__table--th
          カテゴリー
        %td.Item__table--td
          = link_to "#", class:"Item__table--td--link" do
            %div.Item__table--td--link--name
              = @item.category.parent.parent.name
          = link_to "#", class:"Item__table--td--link" do
            %div.Item__table--td--link--name
              = @item.category.parent.name
          = link_to "#", class:"Item__table--td--link" do
            %div.Item__table--td--link--name
              = @item.category.name
      %tr
        %th.Item__table--th
          商品の状態
        %td.Item__table--td
          = @item.item_condition.name
      %tr
        %th.Item__table--th
          配送料の負担
        %td.Item__table--td
          = @item.postage_payer.name
      %tr
        %th.Item__table--th
          配送元地域
        %td.Item__table--td
          = @item.prefecture_code.name
      %tr
        %th.Item__table--th
          発送日の目安
        %td.Item__table--td
          = @item.preparation_day.name
    = link_to "#", class:"Item__buy" do
      購入画面に進む
    .Item__action
      .Item__action--favorite
      = link_to item_path(@item), class: "Item__action--delete", method: "delete" do
        削除
  -# .Comments
  -#   .Comments__comment
  -#     = form_with class: "Comments__comment--form", local: true do |form|
  -#       = form.text_area :comment, class: "Comments__comment--form--comment"
  -#       .Comments__comment--form--explain
  -#         相手のことを考え丁寧なコメントを心がけましょう。
  -#         %br
  -#         不快な言葉遣いなどは利用制限や退会処分となることがあります。
  -#       = form.submit value: "コメントする", class: "Comments__comment--form--submit"
  -# .Next
  -#   .Next__box
  -#     = link_to "#", class:"Next__box--left" do
  -#       前の商品
  -#     = link_to "#", class:"Next__box--right" do
  -#       後ろの商品
  -#   .Next__other
  -#     .Next__other--category
  -#       %h2.Next__other--category--head
  -#         = link_to "#", class:"Next__other--category--head--name" do
  -#           ベビー・キッズをもっと見る

= render "./layouts/footer"